* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("images/portfolio4.jpg");
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
}

.logo_con {
    flex: 1;
}

.logo {
    height: 70px;
    width: 70px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
    transition: 1s;
}

.logo:hover {
    transform: rotate(360deg);
    /* mix-blend-mode: overlay; */
}

.nav-bar {
    margin-top: 40px;
    margin-right: 80px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    list-style: none;
    display: inline;
    margin: 0 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: 0.5s;
}

.nav-bar ul li a::after {
    content: "";
    height: 2px;
    width: 0%;
    display: block;
    background-color: gray;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after {
    width: 100%;
}

.nav-bar ul:hover li a {
    color: gray;
    opacity: 0.6;
}

.nav-bar ul li a:hover {
    color: white;
    opacity: 1;
}

.content {
    position: absolute;
    padding-top: 100px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content {
    font-size: 70px;
    margin-top: 10px;
}

.content h1 {
    background: linear-gradient(605deg, brown, white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content p {
    margin: 20px auto;
    line-height: 25px;
    font-weight: 100px;
    font-size: 20px;
}

.link1 {
    text-decoration: none;
    color: grey;
    font-size: large;
}

.link1:hover {
    font-weight: 100;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid grey;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background-color: rgba(128, 128, 128, 0.3);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

@media (max-width: 1000px) {
    .pop {
        display: none;
    }
}

@media (max-width: 1000px) {
    .popUp {
        display: flex !important;
    }
}

@media (min-width: 1000px) {
    .popUp {
        display: none !important;
    }
}

.popUp h1 {
    /* color: red; */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 1px white;
    transition: 5s;
    transition: transform 40s;
}

.popUp {
    background-image: linear-gradient(45deg, brown 50%, grey 50%);
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 5s;
    transition: transform 40s;
}

#active {
    /* transform: scale(1000);
    text-shadow: 2px 2px 1px blue; */
}

.popUp b {
    animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;
}

@keyframes blink {
    0% {
        color: brown;
    }
    15% {
        color: gray;
    }
    30% {
        color: blue;
    }
    42% {
        color: firebrick;
    }
    58% {
        color: darkcyan;
    }
    78% {
        color: wheat;
    }
    85% {
        color: olive;
    }
    95% {
        color: hotpink;
    }
    100% {
        color: saddlebrown;
    }
}

@-webkit-keyframes blink {
    0% {
        color: greenyellow;
    }
    15% {
        color: black;
    }
    30% {
        color: blue;
    }
    42% {
        color: firebrick;
    }
    58% {
        color: darkcyan;
    }
    78% {
        color: wheat;
    }
    85% {
        color: olive;
    }
    95% {
        color: hotpink;
    }
    100% {
        color: saddlebrown;
    }
}